[submodule "alb2_install"]
	path = alb2_install
	url = https://github.com/anagix-support/alb2_install.git
[submodule "my_apache2_for_alb2"]
	path = my_apache2_for_alb2
	url = https://github.com/anagix-support/my_apache2_for_alb2.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/chef-cookbooks/openssl.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/chef-cookbooks/build-essential.git
[submodule "seven_zip"]
	path = seven_zip
	url = https://github.com/windowschefcookbooks/seven_zip.git
[submodule "mingw"]
	path = mingw
	url = https://github.com/chef-cookbooks/mingw.git
[submodule "windows"]
	path = windows
	url = https://github.com/chef-cookbooks/windows.git
[submodule "ohai"]
	path = ohai
	url = https://github.com/chef-cookbooks/ohai.git
